{% extends 'base.html.twig' %}
{% block name %}Home{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Welcome</h1>
        <p class="lead">Informatie bedrijf Tools For Ever. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue consectetur tellus, in consectetur urna vestibulum eu. Cras nec tortor elit. Sed eros arcu, tristique nec velit in, porttitor porta libero. Aliquam dignissim lacus a nisi egestas luctus. Integer quis lacus id tortor dignissim volutpat sed a nulla. Pellentesque placerat tellus ac orci imperdiet molestie. Maecenas id justo urna. Proin a dui at magna vulputate commodo sit amet a velit. Etiam vehicula enim vel lacus eleifend, eget convallis nulla euismod. Vestibulum aliquet iaculis pellentesque. Suspendisse potenti. Vestibulum non sollicitudin nisi. Donec quis viverra ante.</p>
    </div>
{% endblock %}